@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100;200;300;500;600;700;800;900&display=swap');
body{
    background-color: hsl(0, 0%, 95%);
    margin: auto;
    display: flex;
    min-height: 1000px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

nav{
    display: flex;
    justify-content: center;
}

nav :nth-child(1){
    color: grey;
    background-color: rgb(197, 197, 197);
}

a{
    margin: auto 1em;
    text-decoration: none;
    font-family: sans-serif;
    color: #000;
    padding: 1em;
    width: max-content;
    border-radius: 5px;
    background-color: rgb(119, 195, 224);
}

nav :nth-child(2):hover{
    background-color: rgb(65, 167, 207);

}

.cars{
    display: flex;
    flex-wrap: wrap;
    margin: 2em 2em;
    overflow: hidden;
    border-radius: 10px;
}

article{
    width: 15em;
    padding: 3em;
    min-height: 25em;
    flex: 1;
    
}

.sedan{
    background-color: hsl(31, 77%, 52%);
}

.suv{
    background-color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
}

h1, p{
    color: #fff;
}

h1{
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    font-size: 40px;
}

p{
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
}

.btn-sedan{
    border-radius: 30px;
    border: none;
    margin-top: 3em;
    margin-bottom: 1em;
    background-color: rgb(255, 255, 255);
    color: hsl(31, 77%, 52%);
    padding: 1em 3em;
    width: max-content;
    border: 3px #fff solid;
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.btn-suv{
    border-radius: 30px;
    border: none;
    margin-top: 3em;
    margin-bottom: 1em;
    background-color: rgb(255, 255, 255);
    color: hsl(184, 100%, 22%);
    padding: 1em 3em;
    width: max-content;
    border: 3px #fff solid;
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.btn-luxury{
    border-radius: 30px;
    border: none;
    margin-top: 3em;
    margin-bottom: 1em;
    background-color: rgb(255, 255, 255);
    color: hsl(179, 100%, 13%);
    padding: 1em 3em;
    width: max-content;
    border: 3px #fff solid;
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
button:hover{
    background-color: transparent;
    border: 3px #fff solid;
    color: #fff;
}


@media screen and (width: 375px){

    
    .cars{
        flex-direction: column;
        justify-content: center;
    }

    article{
        min-width: 25em;
    }


}
